<div class="fields">
  <div id='templates' class=''>
    <div class="form-group">
      <%= selectable_f f,
                       :custom_template_name,
                       [[_("No template"), ""]] + xen_custom_template_map(compute_resource),
                       { :selected => attribute_map[:template_selected_custom] },
                       { :class => 'form-control span2',
                         :label => 'Custom Template',
                         :input_group_btn => link_to_function(icon_text('refresh'), "refreshCache(this, xenPopulateCustomTemplates)",
                           :class => 'btn btn-primary',
                           :title => _('Refresh available custom templates.'),
                           :data => {
                             :url => "/foreman_xen/cache/refresh",
                             :compute_resource_id => compute_resource.id,
                             :attribute => 'custom_templates'
                           }
                         )
                       }
      %>
    </div>

    <div class="form-group ">
      <%= selectable_f f, :builtin_template_name,
                       [[_("No template"), ""]] + xen_builtin_template_map(compute_resource),
                       { :selected => attribute_map[:template_selected_builtin] },
                       { :class => 'form-control span2',
                         :label => 'Builtin Template',
                         :input_group_btn => link_to_function(icon_text('refresh'), "refreshCache(this, xenPopulateBuiltinTemplates)",
                           :class => 'btn btn-primary',
                           :title => _('Refresh available builtin templates.'),
                           :data => {
                             :url => "/foreman_xen/cache/refresh",
                             :compute_resource_id => compute_resource.id,
                             :attribute => 'builtin_templates'
                           }
                         )
                       }
      %>
    </div>
  </div>
</div>