<div class="fields">
  <%
     selected_item_c = ''
     selected_item_b = ''
     if params && params['host'] && params['host']['compute_attributes']
       selected_item_c = params['host']['compute_attributes']['custom_template_name']
       selected_item_b = params['host']['compute_attributes']['builtin_template_name']
     end
  %>

  <div id='templates' class=''>
    <div class="form-group custom_templates">
      <%= selectable_f f, :custom_template_name,[[_("No template"), ""]] + compute_resource.custom_templates.map { |t| [t.name, t.name] }, {}, :class => 'form-control span2', :label => 'Custom Template' %>
    </div>

    <div class="form-group buildin_templates">
      <%= selectable_f f, :builtin_template_name,[[_("No template"), ""]] + compute_resource.builtin_templates.map { |t| [t.name, t.name] }, {}, :class => 'form-control span2', :label => 'Builtin Template' %>
    </div>
  </div>
</div>