<div class="fields">

  <%= selectable_f f, :sr_uuid, storage_pool_map(compute_resource), { :selected => attribute_map[:volume_selected] }, :class => "span2", :label => _("Storage Repository") %>

  <%= text_f f, :physical_size, :class => "input-mini", :label => _("Size (GB)"), :value => attribute_map[:volume_size] %>
</div>